@font-face {
  font-family: "Lato", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Lato");
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: auto;
  background-color: #fff;
}

.intro {
  width: 100%;
  padding: 5% 3% 0 4.5%;
  margin-bottom: 5%;
  color: #93979e;
  font-weight: 300;
  font-style: italic;
}

.intro > h1 {
  color: #3e3e3e;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.intro > p {
  padding-top: 1%;
}

.cards {
  max-height: 5%;
  margin: 1em;
  position: relative;
}

.app__logo .app_container {
  max-height: 250px;
  width: 105px;
  height: 60px;
}

img {
  height: 250px;
  width: 90%;
}

.image-caption-wrapper {
  position: absolute;
  top: 210px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 90%;
  height: 2.5em;
  opacity: 50%;
  padding: 8px;
  font-family: "Lato", sans-serif;
}

.image-caption {
  color: #93979e;
  text-decoration: underline;
  margin-left: 5px;
  letter-spacing: 1.5px;
}

.wrapper {
  margin: 0 0 2em 0;
  padding-left: 3.5%;
}

#choose-adv > h1 {
  font-family: "Lato", sans-serif;
  color: #3e3e3e;
}

#choose-adv {
  margin-left: 1%;
}

@media only screen and (max-width: 500px) {
  .app__logo > .app_container{
    width: 105px;
    height: 60px;
    margin: 5% 0 0 21.5%;
  }

  .intro > h1 {
    font-size: 25px;
  }

  .intro {
    font-size: 12px;
    padding: 4% 3% 0 4.5%;
  }

  #choose-adv {
    margin-left: 0;
  }
  #choose-adv > h1 {
    font-size: 25px;
  }

  .wrapper {
    padding-left: 11%;
  }

  .app__footaddress {
    padding-left: 1%;
    height: 120px;
  }

  .app__footaddress > .app__container {
    padding-top: 7%;
  }
}

@media only screen and (min-width: 501px) and (max-width: 575px) {
  .app__logo > .app_container{
    width: 105px;
    height: 60px;
    margin: 6% 0 0 21.5%;
  }

  .intro > h1 {
    font-size: 25px;
  }

  .intro {
    font-size: 12px;
    padding: 4% 3% 0 4.5%;
  }

  #choose-adv {
    margin-left: 0;
  }
  #choose-adv > h1 {
    font-size: 25px;
  }

  img {
    width: 100%;
    max-width: 450px;
  }

  .image-caption-wrapper {
    max-width: 450px;
    width: 100%;
  }

  .wrapper {
    padding-left: 6%;
  }

  .app__footaddress {
    padding-left: 1%;
    height: 120px;
  }

  .app__footaddress > .app__container {
    padding-top: 7%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .app__logo > .app_container{
    width: 105px;
    height: 60px;
    margin: 6% 0 0 21.5%;
  }

  .intro > h1 {
    font-size: 25px;
  }

  .intro {
    font-size: 12px;
    padding: 4% 3% 0 4.5%;
  }

  #choose-adv {
    margin-left: 0;
  }
  #choose-adv > h1 {
    font-size: 25px;
  }

  img {
    width: 125%;
    max-width: 300px;

  }

  .image-caption-wrapper {
    max-width: 450px;
    width: 123%;
  }

  .wrapper {
    padding-left: 0;
    margin-right: 2.5%;
  }

  .app__footaddress {
    padding-left: 1%;
    height: 120px;
  }

  .app__footaddress > .app__container {
    padding-top: 7%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1016px) {
  .app__header {
    height: 200px;
  }

  .app__logo > .app_container{
    width: 172px;
    height: 97.25px;
    margin: 4.5% 0 0 13%;
  }

  .intro > h1 {
    font-size: 30px;
  }

  .intro {
    font-size: 15px;
    padding: 4% 3% 0 4.5%;
  }

  #choose-adv {
    margin-left: 0;
  }
  #choose-adv > h1 {
    font-size: 25px;
  }

  img {
    width: 100%;
    max-width: 400px;
  }

  .image-caption-wrapper {
    max-width: 400px;
    width: 100%;
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .app__footaddress {
    padding-left: 1%;
    height: 120px;
  }

  .app__footaddress > .app__container {
    padding-top: 7%;
  }
}

@media only screen and (min-width: 1017px) and (max-width: 1430px) {
  .app__header__menu {
    padding: 1.75% 0 0 0;
  }

  .app__logo > .app_container{
    width: 172px;
    height: 97.25px;
    margin: 4% 8% 0 13%;
  }

  .app__header_freebutton {
    margin: 0.2% 0 0 0;
   }

  .app__header_freebutton > button {
    border-radius: 35px;
    width: 162px;
    height: 56px;
    letter-spacing: 2px;
  }
}

@media only screen and (min-width: 1431px) {
  .app__header__menu {
    padding: 1.75% 1.25% 0 0;
  }

  .app__container {
    margin-left: 1.35%;
    margin-right: 0%;
    max-width: auto;
  }

  .app__logo > .app_container {
    width: 172px;
    height: 120px;
    margin: 4% 8% 0 0%;
  }

  .app__header_freebutton {
    margin: 0 0 0 0;
   }

  .app__header_freebutton > button {
    border-radius: 35px;
    width: 162px;
    height: 56px;
    letter-spacing: 2px;
  }

  .list-unstyled li {
    margin: 2% 0 0 0;
    letter-spacing: 2px;
    font-weight: bold;
    &:last-child {
      margin: 0;
    }
  }
}
